doctype html
html
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/image_processing.css")
    link(rel="shortcut icon", type="image/ico", href="/app.ico")
  body
    .container
      .head
        h2.header= title
      .main-content
        nav.navigation
          a(href="/image_processing/rgb2color") RGB to Color Space
          a(href="/image_processing/lbp") Local Binary Pattern (LBP)
          a(href="/image_processing/ltp") Local Ternary Pattern (LTP)
          a(href="/image_processing/lzp") Local Zigzag Pattern (LZP)
          a(href="/image_processing/ldp") Local Direction Pattern (LDP)
          a(href="/image_processing/sobel") Sobel Derivative
          a(href="/image_processing/canny") Canny Edge Detection
          a(href="/image_processing/laplacian") Laplacian
